/*reseteo los estilos del navegador, xq toma el default que da el navegador*/ 
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.header {
    background-color: pink;
    color: white;
    height: 80px;
    margin-bottom: 10px;
    margin-left: auto; /*CALCULA SEGUN LAS OTRAS MEDIDAS*/
    margin-right: auto;
}
.logo {
    text-transform: uppercase; /*PARA VOLVER TODO EN MAYUSCULA*/
}
.logo a{/*PARA LOS HIJOS DE LOGO*/
    color:white;
    text-decoration: none;

}
.navbar{
    background-color: beige;
    color: white;
    width:  85vw;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{   
    list-style: none;
    text-align: right;

}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: rgb(48, 43, 47);
}
.navbar ul li a:hover{
    /*CUANDO EL USUARIO PASA POR ARRIBA DE LAS PALABRAS, VA A HACER*/
    background: white;
    color:pink;
}